.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: white;
}

.container * {
  font-family: var(--font-body);
}

.bgVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.title {
  text-align: right;
  padding-bottom: 30px;
  font-family: monospace;
  font-size: 35px;
  border-bottom: 2px solid black;
  color: rgb(168, 162, 162);
  text-shadow: 0 6px 10px rgb(0, 0, 0);
}

.loginContainer {
  width: 400px;
  height: fit-content;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 100px -5px black;
  backdrop-filter: blur(2px);
  background: rgba(56, 56, 56, 0.692);
}

.fieldContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.fieldContent input {
  padding: 20px 10px;
  border-radius: 6px;
  border: 1px solid rgba(24, 24, 24, 0.123);
  box-shadow: 5px 5px 10px -5px black;
  background-color: transparent;
  width: 70%;
  color: white;
}

.fieldContent input:focus {
  outline: none;
  border: 1px solid rgba(126, 126, 126, 0.39);
}

.showPassBtn {
  background: none;
  border: none;
  border-right: 2px solid white;
  color: white;
  width: fit-content;
  padding: 10px;
  align-self: flex-end;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}
.showPassBtn:hover {
  background: rgba(90, 90, 90, 0.212);
}

.btnLogin {
  padding: 20px 10px;
  border-radius: 6px;
  border: none;
  background: rgb(61, 61, 61);
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.btnLogin:hover {
  opacity: .5;
}

.loginContainer form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  text-align: right;
  padding-top: 20px;
  border-top: 2px solid rgb(0, 0, 0);
  margin-top: 20px;
  font-size: small;
}

.footer a {
  color: rgb(52, 52, 255);
}