/* From Uiverse.io by Nawsome */ 
.svgFrame {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgFrame svg {
  position: absolute;
  transition: .5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svgFrame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svgFrame svg .center {
  transition: .5s;
  transform-origin: center;
}

.svgFrame:hover svg .center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

.out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

.out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

.inner3,
.inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

.center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}


/* ============================================================ */
/* ============================================================ */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: not-allowed;
  scale: 1.2;
}

.loader::before {
  content: 'Performance Optimized';
}

.loader p {
  position: absolute;
  width: 250px;
  transform: translateY(20px);
  font-size: 16px;
  text-align: center;
  color: white;
}

.intern {
  position: absolute;
  color: white;
  z-index: 9999;
}

.intern::before {
  content: "98%";
  animation: percent 8s ease-in-out 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes percent {
  0% {
    content: '0%';
  }

  25% {
    content: '25%';
  }

  33% {
    content: '33%';
  }

  42% {
    content: '42%';
  }

  51% {
    content: '51%';
  }

  67% {
    content: '67%';
  }

  74% {
    content: '74%';
  }

  75% {
    content: '75%';
  }

  86% {
    content: '86%';
  }

  95% {
    content: '95%';
  }

  98% {
    content: '98%';
  }

  100% {
    content: '98%';
  }
}