/* src/css/chat.module.css */

.chatContainer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.chatHeader {
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.messagesContainer {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: rgba(121, 121, 121, 0.486) rgba(255, 255, 255, 0);
}

.message {
  margin-bottom: 10px;
}

.userMessage {
  text-align: right;
}

.botMessage {
  text-align: left;
}

.messageBubble {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
}

.userBubble {
  background-color: #007bff;
  color: #fff;
}

.botBubble {
  background-color: #158b117a;
  color: #fff;
}

.inputContainer {
  border-top: 1px solid var(--accent);
  padding: 10px;
  display: flex;
}

.chatInput {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid red;
  background: transparent;
  color: white;
}

.chatInput:focus {
  outline: none;
  border: 1px solid orange;
}

.sendButton {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}