.sidebarContainer {
  height: 100%;
  width: 400px;
  background: var(--bg);
  position: fixed;
}

.title, .nav, .subNav, .mainNav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--text);;
}

.title {
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--black);
}

.nav {
  gap:50px;
  padding: 50px 0;
  width: 100%;
}

.nav .navLink, .subNav button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: var(--text);;
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
}

.nav .navLink:hover {
  color: rgb(160, 76, 240);
}
.subNav button:hover {
  color: red;
}

.nav .navLink span, .subNav button span {
  margin-top: 2px;
}

.nav li {
  text-decoration: none;
  cursor: default;
  padding: 8px 3px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  border: 4px solid transparent;
  width: 90%;
  margin-left: 10px;
  transition: .3s;
}

.nav li.active {
  border: 4px solid var(--choco);
  border-radius: 18px;
}

.nav li.active .navLink {
  color: blue;
}

.mainNav {
  gap: 15px;
  list-style: none;
}

.subNav {
  gap: 30px;
  padding-left: 20px;
}

@media (max-width: 880px) {
  .sidebarContainer {
    max-width: 80px;
    min-width: 80px;
    /* background: red; */
  }
  
  .title h2 {
    display: none;
  }

  .nav {
    width: 100%;
  }

  .nav .mainNav {
    max-width: 40px;
  }

  .subNav span,
  .nav li span {
    display: none;
  }
}