.logoutContainer {
  background: var(--light-dark);
  width: 400px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.logoutContainer h1 {
  padding: 30px 0;
  padding-left: 30px;
  border-bottom: 2px solid var(--accent);
  color: var(--accent);
  font-weight: 600;
}

.logoutContainer p {
  padding: 30px;
  color: var(--text);
  font-size: 20px;
}

.btnContent {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
  background: var(--white);
  border-radius: 0 0 15px 15px;
  gap: 10px;
}

.btnContent button {
  padding: 10px 15px;
  border-radius: 6px;
  background: var(--accent);
  border: none;
  color: var(--dark);
  font-size: 18px;
  cursor: pointer;
}

.btnContent button:hover {
  opacity: .7;
}

.btnContent .btnClose {
  background: var(--light-dark);
  color: var(--accent);
}
.btnContent .btnLogout {
  background: var(--choco);
  color: var(--text);
}